@import 'nib'

.oe-card
  background: rgba(49, 91, 115, 1)
  color: rgba(255, 255, 255, 1)
  font-family: Roboto, sans-serif
  line-height: 1.5
  font-weight: normal
  padding: 5px
  width: 400px
  height: 40px
  border-radius: 4px

.oe-card.oe-status-completed
  background: rgba(17, 160, 79, 1)

.oe-card.oe-status-waiting
  background: rgba(165, 28, 14, 1)

.oe-card.oe-status-assigned
  background: rgba(199, 99, 12, 1)

.oe-detail
  display: inline
  width: 300px
  max-height: 60px

.oe-detail-title
  font-size: 12px
  display: block
  height: 30px
  max-height: 30px
  overflow: hidden

.oe-detail-status
  font-size: 10px
  display: block

.oe-action
  display: inline
  padding: 0px
  margin: -5px
  padding-top: 5px
  padding-left: 10px
  display: inline
  width: 30px
  float: right

.oe-action-icon
  color: rgba(200, 200, 200, 1) !important
  font-size: 18px

.oe-action-icon:hover
  color: rgba(220, 220, 220, 1) !important

.card-details
  padding: 0 20px
  height: 100%
  flex-shrink: 0
  flex-basis: 470px
  will-change: flex-basis
  overflow: hidden
  background: darken(white, 3%)
  border-radius: bottom 3px
  z-index: 20 !important
  animation: flexGrowIn 0.1s
  box-shadow: 0 0 7px 0 darken(white, 30%)
  transition: flex-basis 0.1s

  .card-details-canvas
    width: 470px

  .card-details-header
    margin: 0 -20px 5px
    padding 7px 16px
    background: darken(white, 7%)
    border-bottom: 1px solid darken(white, 14%)

    .close-card-details,
    .card-details-menu
      float: right

    .close-card-details
      font-size: 24px
      padding: 5px
      margin-right: -8px

    .card-details-menu
      font-size: 17px
      padding: 10px

    .card-details-watch
      font-size: 17px
      padding-left: 7px
      color: #a6a6a6

    .card-details-title
      font-weight: bold
      font-size: 1.33em
      margin: 7px 0 0
      padding: 0


    form.inlined-form
      margin-top: 5px
      margin-bottom: 10px

    .card-details-list
      font-size: 0.85em
      margin-bottom: 3px

      a.card-details-list-title
        font-weight: bold

        &.is-editable
          display: inline-block
          background: darken(white, 10%)
          border-radius: 3px
          padding: 0px 5px

  .card-description textarea
    min-height: 100px

  .card-details-items
    display: flex
    margin: 15px 0

    .card-details-item
      &.card-details-item-labels,
      &.card-details-item-members
        width: 50%
        flex-shrink: 1

  .card-details-item-title
    font-size: 14px
    color: darken(white, 45%)

  .card-label
    padding-top: 5px
    padding-bottom: 5px

  .activities
    padding-top: 10px

input[type="text"].attachment-add-link-input
  float: left
  margin: 0 0 8px
  width: 80%

input[type="submit"].attachment-add-link-submit
  float: left
  margin: 0 0 8px 4px
  padding: 6px 12px
  width: 18%

@media screen and (max-width: 800px)
  .card-details
    width: calc(100% - 40px)
    padding: 0px 20px 0px 20px
    margin: 0px
    transition: none

    .card-details-canvas
      width: 100%

    .card-details-header
      .close-card-details
        margin-right: 0px

      .card-details-menu
        margin-right: 10px
